<header id="pres-kreyol">
    <div class="bg-dark">
        <h1>KreyoL</h1>
        <p>1ère plateforme pédagogique de jeu en créole</p>
    </div>
</header>
<section id ="ambitions">
    <div><h2>Ambitions</h2></div>
    <div id="div-ambitions">
        <div class="each-ambition">
            <div class="icone"></div>
            <h3>Ambition 1</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa eligendi praesentium laboriosam delectus impedit assumenda illum vitae minus consequuntur, porro consequatur quos corrupti deserunt eveniet, aut nemo. Ipsum, placeat!
            </article>
        </div>
        <div class="each-ambition">
            <div class="icone"></div>
            <h3>Ambition 2</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quisquam nihil repellat minus molestias sequi eveniet, quaerat perspiciatis incidunt mollitia earum sint necessitatibus blanditiis, nemo, quia unde adipisci quos tenetur.</article>
        </div>
        <div class="each-ambition">
            <div class="icone"></div>
            <h3>Ambition 3</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea id veniam deserunt quis dignissimos, maiores minima? Voluptatum, totam ipsum? In facilis nostrum rem odio debitis. Vero consequatur facere voluptatibus?</article>
        </divclass="each-ambition">
    </div>
</section>
<section id="jeu">
    <div id="apprendre">
        <h2>Apprendre par le jeu</h2>
        <hr>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis doloremque numquam tempora error impedit alias incidunt velit exercitationem, soluta laudantium qui voluptatum voluptate nesciunt consequuntur quas repellendus eaque molestias?
        </article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis doloremque numquam tempora error impedit alias incidunt velit exercitationem, soluta laudantium qui voluptatum voluptate nesciunt consequuntur quas repellendus eaque molestias?
        </article>
    </div>
    <div id="demo">
        <h2>Fok zot wè sa</h2>
        <video width="320" height="240" controls>
            <source src="/images/rules.mp4" type="video/mp4">
            {{!-- <source src="movie.ogg" type="video/ogg"> --}}
            Your browser does not support the video tag.
        </video>
    </div>
</section>